/* Default styles */

.aboutme {
    display: flex;
    place-items: center;
    place-content: center;
    margin: 230px 0 0 0;
    font-size: 2.8rem;
  }
  
  .firstabout {
    display: flex;
    justify-content: space-evenly;
    margin-top: 140px;
  }
  .rightabout h1{
    margin-left: -4vh ;
  }
  .circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: 0px;
  }
  .tcontainer{
    margin-left: 700px;
  }

  .rightabout p {
    display: grid;
    max-width: 190px;
    place-content: center;
    font-size: 2.5rem;
    gap: 5px;
  }
  
  .dessec {
    padding: 40px;
    color: #ffffff;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  
  
  .below {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40vh;
    margin-top: 5vh;
  }
  
  .boxx {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 18px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
  }
  
  .cardp {
    text-align: left;
    border: 1px solid white;
    height: 47vh;
    width: 70vh;
  }
  
  .cardp p {
    font-size: 1.3rem;
    max-width: 94%;
    margin-left: 18px;
    margin-top: 45px;
  }
  
  .descrip {
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .onthe{
    margin-top: 0px;
  }
  
  .boxx2 {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 18px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
  }
  .hori{
    color: limegreen;
      border-color: limegreen;
      border-width: 1px;
      margin-top: 30px;
  }
  /* Responsive styles */
  
  @media (max-width: 768px) {
    /* Adjust styles for screens up to 768px width */
    .dessec{
      margin-left: -100vh;
  
    }
    .aboutme{
    margin: 55px 0 0 0;
    font-size: 1.7rem;
    }
    .firstabout {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        align-items: center; /* Center items vertically */
        margin-top: 60px;/* Adjust the margin as needed */
    }
    
    .circular--landscape {
        width: 150px; /* Adjust the circular image size */
        height: 150px;
    }
    
    .rightabout p {
      max-width: 95%;
      text-align: center;
      font-size: 1.4rem;
      margin-top: 18px; /* Center text on smaller screens */
    }
    .rightabout h1{
      font-size: 1.2rem;
      margin-bottom: 5px;
      margin-top: 26px;
      margin-left: 6vh;
    }
    
    .below {
      margin-bottom: 20vh;
      margin-top: 10vh;
      margin-left: 100vh;
    }
    
    .boxx {
      font-size: 1.2rem;
    margin-bottom: 5px;/* Adjust the max-width for the boxes */
    margin-left: 68vh;
    }
    .boxx2{
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    
    .cardp {
        width: 100%; /* Full width on smaller screens */
    }
    
    .cardp p {
      font-size: 0.6rem;
      margin-left: 18px;
      margin-top: 59px; /* Full width text on smaller screens */
    }
    .tcontainer{
      margin-left: -720px;
    }
  }
  